<a href="https://colab.research.google.com/github/yasuke123/DAAN_888/blob/main/DAAN888_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!kaggle datasets download -d asaniczka/tmdb-movies-dataset-2023-930k-movies
!kaggle datasets download -d joyshil0599/movie-reviews-dataset-10k-scraped-data

Dataset URL: https://www.kaggle.com/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies
License(s): ODC Attribution License (ODC-By)
Downloading tmdb-movies-dataset-2023-930k-movies.zip to /content
 99% 208M/209M [00:06<00:00, 38.7MB/s]
100% 209M/209M [00:06<00:00, 32.6MB/s]
Dataset URL: https://www.kaggle.com/datasets/joyshil0599/movie-reviews-dataset-10k-scraped-data
License(s): CC0-1.0
Downloading movie-reviews-dataset-10k-scraped-data.zip to /content
100% 2.43M/2.43M [00:00<00:00, 4.56MB/s]
100% 2.43M/2.43M [00:00<00:00, 3.93MB/s]

In [2]:
!unzip tmdb-movies-dataset-2023-930k-movies.zip
!unzip movie-reviews-dataset-10k-scraped-data.zip

Archive:  tmdb-movies-dataset-2023-930k-movies.zip
  inflating: TMDB_movie_dataset_v11.csv
Archive:  movie-reviews-dataset-10k-scraped-data.zip
  inflating: letterboxd-reviews.csv
  inflating: metacritic-reviews.csv

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import re
warnings.filterwarnings("ignore")

In [4]:
import os
import pandas as pd

# Detect if running in Google Colab
try:
    import google.colab
    in_colab = True
except ImportError:
    in_colab = False

# Set the data directory based on the environment
if in_colab:
    data_dir = "/content/"  # Default path in Colab
else:
    data_dir = "./data/"   # Default path for local machines (a 'data' subfolder)

# Define file paths using the data directory
tmdb_file = os.path.join(data_dir, "TMDB_movie_dataset_v11.csv")
metacritic_file = os.path.join(data_dir, "metacritic-reviews.csv")
letterboxd_file = os.path.join(data_dir, "letterboxd-reviews.csv")

# Check if all files exist before proceeding
for file in [tmdb_file, metacritic_file, letterboxd_file]:
    if not os.path.exists(file):
        print(f"Error: File not found at {file}")
        print("Please ensure the following datasets are placed in the correct directory:")
        print("- TMDB_movie_dataset_v11.csv")
        print("- metacritic-reviews.csv")
        print("- letterboxd-reviews.csv")
        if in_colab:
            print("In Colab, upload the files to '/content/' or adjust 'data_dir' in the code.")
        else:
            print("Locally, place the files in a 'data' subfolder or adjust 'data_dir' in the code.")
        raise FileNotFoundError(f"Missing file: {file}")

In [5]:
# Load the datasets
tmdb_df = pd.read_csv(tmdb_file, encoding="utf-8")
metacritic_df = pd.read_csv(metacritic_file, encoding="ISO-8859-1", on_bad_lines='skip')
letterboxd_df = pd.read_csv(letterboxd_file, encoding="ISO-8859-1")

# Your code continues here...
print("Datasets loaded successfully!")

Datasets loaded successfully!

In [6]:
tmdb_df.rename(columns={'title': 'Movie name'}, inplace=True)

merged_df = tmdb_df.merge(metacritic_df, on="Movie name", how="inner")
merged_df = merged_df.merge(letterboxd_df, on="Movie name", how="inner")
merged_df = merged_df.drop_duplicates()


print(f"Total Records (Rows): {merged_df.shape[0]}")
print(f"Total Columns: {merged_df.shape[1]}\n")
print("Column Headers:", list(merged_df.columns), "\n")
print(merged_df.head())

Total Records (Rows): 18406
Total Columns: 36

Column Headers: ['id', 'Movie name', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'tagline', 'genres', 'production_companies', 'production_countries', 'spoken_languages', 'keywords', 'Release Date', 'Rating_x', 'summary', 'User rating', 'Website rating', 'Release Year', 'Rating_y', 'Reviewer name', 'Review date', 'Review', 'Comment count', 'Like count']

       id    Movie name  vote_average  vote_count    status release_date  \
0  157336  Interstellar         8.417       32571  Released   2014-11-05
1  157336  Interstellar         8.417       32571  Released   2014-11-05
2  157336  Interstellar         8.417       32571  Released   2014-11-05
3  157336  Interstellar         8.417       32571  Released   2014-11-05
4  157336  Interstellar         8.417       32571  Released   2014-11-05

     revenue  runtime  adult                     backdrop_path  ...  \
0  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
1  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
2  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
3  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
4  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...

                                             summary User rating  \
0  With our time on Earth coming to an end, a tea...         8.5
1  With our time on Earth coming to an end, a tea...         8.5
2  With our time on Earth coming to an end, a tea...         8.5
3  With our time on Earth coming to an end, a tea...         8.5
4  With our time on Earth coming to an end, a tea...         8.5

  Website rating Release Year         Rating_y   Reviewer name   Review date  \
0             74         2014  â??â??â??â??â??            Evan     10-Nov-14
1             74         2014  â??â??â??â??â??    #1 gizmo fan  4/25/201 6
2             74         2014  â??â??â??â??â??            Lucy     24-Jan-19
3             74         2014  â??â??â??â??â??  Scott Anderson      4-Nov-14
4             74         2014     â??â??â??â??         siobhan     21-Mar-20

                                              Review Comment count  \
0                                       Oh. My. God.             6
1  I'm pretty sure no one will EVER come close to...            38
2                                                NaN            16
3                                                NaN          6  5
4  watched on my 13 inch macbook air just as chri...             6

          Like count
0     6, 6  86 likes
1  4,5 6   6   likes
2                NaN
3        2,988 likes
4     2, 6  08 likes

[5 rows x 36 columns]

In [7]:
# Explore
print(merged_df.info())
print("\n")

print(merged_df.head())
print("\n")

print(merged_df.describe())
print("\n")

print(merged_df.isna().sum())
print("\n")



duplicates = merged_df.duplicated().sum()
print(f"5. Duplicate Rows Remaining: {duplicates}\n")

if 'status' in merged_df.columns:
    print("Unique 'status' Values:", merged_df['status'].unique())
    print()

if 'adult' in merged_df.columns:
    print("Unique 'adult' Values:", merged_df['adult'].unique())
    print()



def parse_star_rating(star_str):
    if not isinstance(star_str, str):
        return None
    star_str = star_str.strip()
    full_stars = star_str.count("â??")
    half_star = 0.5 if "â½" in star_str else 0.0
    return full_stars + half_star

merged_df["Rating_y_cleaned"] = merged_df["Rating_y"].apply(parse_star_rating)

merged_df.drop("Rating_y", axis=1, inplace=True)

# Convert dates
date_cols = ["Release Date", "Review date"]
for col in date_cols:
    if col in merged_df.columns:
        merged_df[col] = pd.to_datetime(merged_df[col], errors="coerce")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18406 entries, 0 to 18405
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18406 non-null  int64
 1   Movie name            18406 non-null  object
 2   vote_average          18406 non-null  float64
 3   vote_count            18406 non-null  int64
 4   status                18406 non-null  object
 5   release_date          16198 non-null  object
 6   revenue               18406 non-null  int64
 7   runtime               18406 non-null  int64
 8   adult                 18406 non-null  bool
 9   backdrop_path         7988 non-null   object
 10  budget                18406 non-null  int64
 11  homepage              4837 non-null   object
 12  imdb_id               12244 non-null  object
 13  original_language     18406 non-null  object
 14  original_title        18406 non-null  object
 15  overview              17157 non-null  object
 16  popularity            18406 non-null  float64
 17  poster_path           14334 non-null  object
 18  tagline               6484 non-null   object
 19  genres                13469 non-null  object
 20  production_companies  10606 non-null  object
 21  production_countries  12682 non-null  object
 22  spoken_languages      13020 non-null  object
 23  keywords              8070 non-null   object
 24  Release Date          18406 non-null  object
 25  Rating_x              18154 non-null  object
 26  summary               18406 non-null  object
 27  User rating           18406 non-null  object
 28  Website rating        18406 non-null  int64
 29  Release Year          18299 non-null  object
 30  Rating_y              17223 non-null  object
 31  Reviewer name         18406 non-null  object
 32  Review date           17483 non-null  object
 33  Review                14483 non-null  object
 34  Comment count         16833 non-null  object
 35  Like count            13235 non-null  object
dtypes: bool(1), float64(2), int64(6), object(27)
memory usage: 4.9+ MB
None


       id    Movie name  vote_average  vote_count    status release_date  \
0  157336  Interstellar         8.417       32571  Released   2014-11-05
1  157336  Interstellar         8.417       32571  Released   2014-11-05
2  157336  Interstellar         8.417       32571  Released   2014-11-05
3  157336  Interstellar         8.417       32571  Released   2014-11-05
4  157336  Interstellar         8.417       32571  Released   2014-11-05

     revenue  runtime  adult                     backdrop_path  ...  \
0  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
1  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
2  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
3  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...
4  701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg  ...

                                             summary User rating  \
0  With our time on Earth coming to an end, a tea...         8.5
1  With our time on Earth coming to an end, a tea...         8.5
2  With our time on Earth coming to an end, a tea...         8.5
3  With our time on Earth coming to an end, a tea...         8.5
4  With our time on Earth coming to an end, a tea...         8.5

  Website rating Release Year         Rating_y   Reviewer name   Review date  \
0             74         2014  â??â??â??â??â??            Evan     10-Nov-14
1             74         2014  â??â??â??â??â??    #1 gizmo fan  4/25/201 6
2             74         2014  â??â??â??â??â??            Lucy     24-Jan-19
3             74         2014  â??â??â??â??â??  Scott Anderson      4-Nov-14
4             74         2014     â??â??â??â??         siobhan     21-Mar-20

                                              Review Comment count  \
0                                       Oh. My. God.             6
1  I'm pretty sure no one will EVER come close to...            38
2                                                NaN            16
3                                                NaN          6  5
4  watched on my 13 inch macbook air just as chri...             6

          Like count
0     6, 6  86 likes
1  4,5 6   6   likes
2                NaN
3        2,988 likes
4     2, 6  08 likes

[5 rows x 36 columns]


                 id  vote_average    vote_count       revenue       runtime  \
count  1.840600e+04  18406.000000  18406.000000  1.840600e+04  18406.000000
mean   6.618616e+05      3.436974   1166.443551  4.031907e+07     60.925405
std    4.263920e+05      3.477542   3335.307914  1.739696e+08     53.166558
min    1.200000e+01      0.000000      0.000000  0.000000e+00      0.000000
25%    3.281940e+05      0.000000      0.000000  0.000000e+00      7.000000
50%    6.386115e+05      3.000000      1.000000  0.000000e+00     70.000000
75%    1.010629e+06      6.900000     38.000000  0.000000e+00    103.000000
max    1.436918e+06     10.000000  32571.000000  2.923706e+09    450.000000

             budget    popularity  Website rating
count  1.840600e+04  18406.000000    18406.000000
mean   1.002417e+07     10.543957       67.402858
std    3.624155e+07     24.171208       16.563780
min    0.000000e+00      0.000000       11.000000
25%    0.000000e+00      0.600000       60.000000
50%    0.000000e+00      0.871000       68.000000
75%    0.000000e+00      6.132000       79.000000
max    4.600000e+08    241.285000       98.000000


id                          0
Movie name                  0
vote_average                0
vote_count                  0
status                      0
release_date             2208
revenue                     0
runtime                     0
adult                       0
backdrop_path           10418
budget                      0
homepage                13569
imdb_id                  6162
original_language           0
original_title              0
overview                 1249
popularity                  0
poster_path              4072
tagline                 11922
genres                   4937
production_companies     7800
production_countries     5724
spoken_languages         5386
keywords                10336
Release Date                0
Rating_x                  252
summary                     0
User rating                 0
Website rating              0
Release Year              107
Rating_y                 1183
Reviewer name               0
Review date               923
Review                   3923
Comment count            1573
Like count               5171
dtype: int64


5. Duplicate Rows Remaining: 0

Unique 'status' Values: ['Released' 'In Production' 'Post Production' 'Planned' 'Rumored'
 'Canceled']

Unique 'adult' Values: [False  True]

In [8]:

# Drop cols with many missing non-numerical values, ids, repeat columns
cols_to_drop = [
    "homepage", "backdrop_path", "tagline", "poster_path",
    "release_date", "imdb_id", "keywords"
]
merged_df.drop(columns=[c for c in cols_to_drop if c in merged_df.columns],
               inplace=True,
               errors="ignore")



# Concat digits for like and comment count
def concatenate_all_digits(text):
    if pd.isna(text):
        return None
    digits = re.findall(r'\d+', str(text))
    if not digits:
        return None
    concatenated = "".join(digits)  # e.g. ["6", "6", "08"] -> "6608"
    return int(concatenated)

if "Like count" in merged_df.columns:
    merged_df["Like count"] = merged_df["Like count"].apply(concatenate_all_digits)

if "Comment count" in merged_df.columns:
    merged_df["Comment count"] = merged_df["Comment count"].apply(concatenate_all_digits)


# Check and save
print(merged_df.info())
print(merged_df.isna().sum())
print(merged_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18406 entries, 0 to 18405
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18406 non-null  int64
 1   Movie name            18406 non-null  object
 2   vote_average          18406 non-null  float64
 3   vote_count            18406 non-null  int64
 4   status                18406 non-null  object
 5   revenue               18406 non-null  int64
 6   runtime               18406 non-null  int64
 7   adult                 18406 non-null  bool
 8   budget                18406 non-null  int64
 9   original_language     18406 non-null  object
 10  original_title        18406 non-null  object
 11  overview              17157 non-null  object
 12  popularity            18406 non-null  float64
 13  genres                13469 non-null  object
 14  production_companies  10606 non-null  object
 15  production_countries  12682 non-null  object
 16  spoken_languages      13020 non-null  object
 17  Release Date          18399 non-null  datetime64[ns]
 18  Rating_x              18154 non-null  object
 19  summary               18406 non-null  object
 20  User rating           18406 non-null  object
 21  Website rating        18406 non-null  int64
 22  Release Year          18299 non-null  object
 23  Reviewer name         18406 non-null  object
 24  Review date           16118 non-null  datetime64[ns]
 25  Review                14483 non-null  object
 26  Comment count         16833 non-null  float64
 27  Like count            13235 non-null  float64
 28  Rating_y_cleaned      17223 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(5), int64(6), object(15)
memory usage: 3.9+ MB
None
id                         0
Movie name                 0
vote_average               0
vote_count                 0
status                     0
revenue                    0
runtime                    0
adult                      0
budget                     0
original_language          0
original_title             0
overview                1249
popularity                 0
genres                  4937
production_companies    7800
production_countries    5724
spoken_languages        5386
Release Date               7
Rating_x                 252
summary                    0
User rating                0
Website rating             0
Release Year             107
Reviewer name              0
Review date             2288
Review                  3923
Comment count           1573
Like count              5171
Rating_y_cleaned        1183
dtype: int64
       id    Movie name  vote_average  vote_count    status    revenue  \
0  157336  Interstellar         8.417       32571  Released  701729206
1  157336  Interstellar         8.417       32571  Released  701729206
2  157336  Interstellar         8.417       32571  Released  701729206
3  157336  Interstellar         8.417       32571  Released  701729206
4  157336  Interstellar         8.417       32571  Released  701729206

   runtime  adult     budget original_language  ...  \
0      169  False  165000000                en  ...
1      169  False  165000000                en  ...
2      169  False  165000000                en  ...
3      169  False  165000000                en  ...
4      169  False  165000000                en  ...

                                             summary User rating  \
0  With our time on Earth coming to an end, a tea...         8.5
1  With our time on Earth coming to an end, a tea...         8.5
2  With our time on Earth coming to an end, a tea...         8.5
3  With our time on Earth coming to an end, a tea...         8.5
4  With our time on Earth coming to an end, a tea...         8.5

   Website rating Release Year   Reviewer name Review date  \
0              74         2014            Evan  2014-11-10
1              74         2014    #1 gizmo fan         NaT
2              74         2014            Lucy  2019-01-24
3              74         2014  Scott Anderson  2014-11-04
4              74         2014         siobhan  2020-03-21

                                              Review Comment count Like count  \
0                                       Oh. My. God.           6.0     6686.0
1  I'm pretty sure no one will EVER come close to...          38.0     4566.0
2                                                NaN          16.0        NaN
3                                                NaN          65.0     2988.0
4  watched on my 13 inch macbook air just as chri...           6.0     2608.0

  Rating_y_cleaned
0              5.0
1              5.0
2              5.0
3              5.0
4              4.0

[5 rows x 29 columns]

In [9]:
cleaned_file = "merged_dataset.csv"
merged_df.to_csv(cleaned_file, index=False, encoding="utf-8")
print(f" saved to: {cleaned_file}")

 saved to: merged_dataset.csv